extends layout

include ../mixins/pagination.jade

mixin bulk_action(name)
  div.bulk_action
    select(name=name)
      option bulk action
      option(value='approve') approve
      option(value='spam') mark as spam
      option(value='delete') remove
    input(type='submit', name='#{name}_submit', value='apply')

block content
  h1 paste administration

  ul.pipe_list.status_filter
    li.first(class=(!session.list_filter) ? 'current' : '')
      a(href='/admin/filter/all') All
    li(class=(session.list_filter==1) ? 'current' : '')
      a(href='/admin/filter/approved') Approved
      // | (131)
    li(class=(session.list_filter==2) ? 'current' : '')
      a(href='/admin/filter/spam') Spam
      // | (3414)


  form(method='POST', action='/admin/bulk')

    mixin bulk_action('action')

    table.admin_list
      thead
        tr
          th
            input(type='checkbox', name='selection_all', value='')
          th content
          th created
          th status
          th action
      tbody
        each paste in pastes
          tr(class=paste.isSpam() ? 'spam' : 'approved')
            td.id 
              input(type='checkbox', name='selection', value='#{paste.id}')
              a(href='/#{paste.id}') #{paste.id}
            td.content #{paste.getShortExcerpt()}
            td.created #{strftime(config.ftime, paste.created)}
            td.status #{paste.getStatusString()}
            td.action
              ul.pipe_list
                if paste.isUnchecked()
                  li.first
                    a(href='/admin/mark/#{paste.id}/approved') approve
                  li
                    a(href='/admin/mark/#{paste.id}/spam') spam
                else if paste.isSpam()
                  li.first
                    a(href='/admin/mark/#{paste.id}/approved') approve
                else if !paste.isSpam()
                  li.first
                    a(href='/admin/mark/#{paste.id}/spam') spam


      tfoot
        tr
          th
            input(type='checkbox', name='selection_all', value='')
          th content
          th created
          th status
          th action

    mixin bulk_action('action2')

  mixin list_pager(page, pages, '/admin/list')

