extends layout

block content
  h1
    a(href='/') new paste

  // create form with settings
  form(method='POST', action='/create')
    label(for='summary') summary
    input(type='text', name='summary', value='')

    label(for='content') content
    textarea(name='content', autofocus=true)

    .options

      div.left

        h2 paste options

        .selects
          div
            label(for='language') language
            select#language(name='language')
              each lang in brush
                option(value=lang[1]) #{lang[2]}

          div
            label(for='expire') expire
            select#expire(name='expire')
              option(value='0') never
              option(value='#{30 * 60}') half an hour
              option(value='#{24 * 60 * 60}') one day
              option(value='#{7 * 24 * 60 * 60}') a week
              option(value='#{31 * 24 * 60 * 60}') one month

        div.hidden
          input#tabkeys(type='checkbox', name='tabkeys', value='true', checked=session.tabkeys)
          label.inline(for='tabkeys') tab-keys inserts tabstops

        div.hidden
          input#encrypted(type='checkbox', name='encrypted', value='true')
          label.inline(for='encrypted') (client-side) encryption

        div
          input#private(type='checkbox', name='private', value='true')
          label.inline(for='private') paste private

        div
          input#announce(type='checkbox', name='announce', value='true')
          label.inline(for='announce') announce in #woot

      div.submit

        .shift press shift-enter to submit
        input(type='submit', name='create', value='submit')


