extends layout

block content
  h1
    a(href='/') new paste

  // create form with settings
  form(method='POST', action='/create')
    label(for='summary') summary
    input(type='text', name='summary', value='')

    label(for='content') content
    textarea(name='content', autofocus=true)

    .options

      div.left

        h2 paste options

        .selects
          div
            label(for='language') language
            select#language(name='language')
              each lang in brush
                option(value=lang[1], selected=session.option_language==lang[1]?true:false) #{lang[2]}

          div
            label(for='expire') expire
            select#expire(name='expire')
              each value, caption in config.expire
                option(value=value, selected=session.option_expire==value?true:false) #{caption}

        div.hidden
          input#option_tabkeys(type='checkbox', name='option_tabkeys', value='true', checked=session.option_tabkeys)
          label.inline(for='option_tabkeys') tab-keys inserts tabstops

        div.hidden
          input#encrypted(type='checkbox', name='encrypted', value='true')
          label.inline(for='encrypted') (client-side) encryption

        div
          input#private(type='checkbox', name='private', value='true', checked=session.option_private?true:false)
          label.inline(for='private') paste private

        div
          input#announce(type='checkbox', name='announce', value='true', checked=session.option_announce?true:false)
          label.inline(for='announce') announce in #woot

      div.submit

        .shift press shift-enter to submit
        input(type='submit', name='create', value='submit')


