extends layout

block content
  h1
    a.paste_link.permalink(href='/#{paste.id}')
      if paste.summary != ''
        | delete paste: #{paste.summary}
      else
        | delete paste: #{paste.id}

  p Are you sure you want to delete this paste? It will be lost forever (a very long time).

  form(method='POST', action='/delete')
    input(type='hidden', name='id', value='#{paste.id}')
    input(type='hidden', name='secret', value='#{paste.secret}')
    input(type='submit', name='delete', value='delete')

