include mixins/time

doctype 5
html
  head
    if typeof paste !== 'undefined'
      if paste.summary != ''
        title #{paste.summary}
      else
        title #{domain}/#{paste.id}
    else
      title #{domain}

    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery-1.9.1.js')
    script(type='text/javascript', src='/js/jquery.easydate-0.2.4.js')
    script(type='text/javascript', src='/js/sjcl.js')
    script(type='text/javascript', src='/js/tabIndent.js')

    script(type='text/javascript', src='/js/sh-bugfix.js')
    script(type='text/javascript', src='/js/syntaxhighlighter/scripts/shCore.js')

    if typeof brush_list !== 'undefined'
      each brush in brush_list
        script(type='text/javascript', src='/js/syntaxhighlighter/scripts/#{brush}')

    link(rel='stylesheet', href='/js/syntaxhighlighter/styles/shCore.css')
    link(rel='stylesheet', href='/js/syntaxhighlighter/styles/shTheme#{session.show_theme}.css')

    link(rel='icon', type='image/png', href='/favicon.png')

    script(type='text/javascript', src='/js/client.js')
    
  body

    script(type='text/javascript')
      var session_test = #{session.test || false};
      SyntaxHighlighter.defaults.toolbar = false;
      SyntaxHighlighter.defaults.gutter = #{session.show_line_numbers};

    ul.global.middot_list
      li.first
        a(href='/create') create new
      li
        a(href='/list') public pastes
      li
        a(href='/about') about

    if typeof notice !== 'undefined' && notice
      .notice
        | #{notice}

    block content

