extends layout

block content
  h1
    a(href='/') #{domain}

  ul.paste_list
    each paste in pastes
      li.paste
        .meta
          ul.middot_list
            mixin time(paste)
            if paste.language != 'plain'
              li #{paste.language_caption}
            if session.secrets && session.secrets[paste.id]
              li
                a(href=url(['update', paste.id, session.secrets[paste.id]])) update
              li
                a(href=url(['delete', paste.id, session.secrets[paste.id]])) delete
        h3 
          a(href='/#{paste.id}')
            if paste.summary != ''
              | #{paste.summary}
            else
              | ##{paste.id}
        pre#content(class='brush: #{paste.language}') #{paste.content}

  .pager
    if page > 1
      a.previous(href='/list?page=#{page-1}') &laquo; previous page
    if page < num_pages
      a.next(href='/list?page=#{page+1}') next page &raquo;

