extends layout

block content
  header
    ul.middot_list
      mixin time(paste)
      if !paste.encrypted
        li
          a(href=url([paste.id + '.raw'])) raw
        li
          a(href=url([paste.id + '/paste_#{paste.id}.txt'])) download
      if session.secrets && session.secrets[paste.id]
        li
          a.paste_link(href=url(['update', paste.id, session.secrets[paste.id]])) update
        li
          a.paste_link(href=url(['delete', paste.id, session.secrets[paste.id]])) delete

  h1
    a.paste_link.permalink(href='/#{paste.id}')
      if paste.summary != ''
        | #{paste.summary}
      else
        | #{domain}/#{paste.id}

  if paste.encrypted
    #encrypted-data #{paste.content}

  if !paste.encrypted
    pre#content(class='brush: #{paste.language}') #{paste.content}
  else
    pre#content(class='brush: #{paste.language}')

  footer


