extends layout

block content
  header
    ul
      mixin time(paste)

  if paste.summary != ''
    h1 #{paste.summary}
  else
    h1 #{domain}/#{paste.id}

  if paste.encrypted
    #encrypted-data #{paste.content}

  pre
    if !paste.encrypted
      pre#content(class='brush: #{paste.language}') !{paste.content}
    else
      pre#content(class='brush: #{paste.language}')

  footer
    a(href='/') create new


