extends layout

block content
  header
    ul.middot_list
      mixin time(paste)
      if session.secrets && session.secrets[paste.id]
        li
          a(href=url(['delete', paste.id, paste.secret])) delete
      li
        a(href='/create') create new

  h1
    a.permalink(href='/#{paste.id}')
      if paste.summary != ''
        | update: #{paste.summary}
      else
        | update: #{paste.id}

  form(method='POST', action='/update')
    input(type='hidden', name='id', value='#{paste.id}')
    input(type='hidden', name='secret', value='#{paste.secret}')
    input(type='hidden', name='encrypted', value='#{paste.encrypted ? 'true' : 'false'}')

    label(for='summary') summary
    input(type='text', name='summary', value='#{paste.summary}')

    if paste.encrypted
      #encrypted-data #{paste.content}

    label(for='content') content
    textarea(name='content', autofocus=true) #{paste.encrypted ? '' : paste.content}

    .options

      div.left

        h2 paste options

        .selects
          div
            label(for='language') language
            select#language(name='language')
              each lang in brush
                option(value=lang[1], selected=paste.language==lang[1]?true:false) #{lang[2]}

        div.hidden
          input#tabkeys(type='checkbox', name='tabkeys', value='true')
          label.inline(for='tabkeys') tab-keys inserts tabstops

      div.submit

        .shift press shift-enter to update
        input(type='submit', name='update', value='update')


